.vs/
MFIGamepadShared/obj/
MFIGamepadShared/bin/
ipch/
MFIGamepadFeeder/obj/
MFIGamepadFeeder/bin/
packages/
MFIGamepadConfigCreator/obj
MFIGamepadConfigCreator/bin/
vGenWrapper/obj/
vGenWrapper/bin/
Output/
