<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MFIGamepadFeeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MFIGamepadFeeder.Properties.Settings>
            <setting name="SelectedHidDevice1" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedControllerId1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedConfigFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedHidDevice2" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedHidDevice3" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedHidDevice4" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedControllerId2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedControllerId3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectedControllerId4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SelectedConfigFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedConfigFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedConfigFile4" serializeAs="String">
                <value />
            </setting>
            <setting name="ControllerActive1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerActive2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerActive3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerActive4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPlugIn" serializeAs="String">
                <value>False</value>
            </setting>
        </MFIGamepadFeeder.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>