<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MFIGamepadFeeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MFIGamepadFeeder.Properties.Settings>
            <setting name="SelectedHidDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedJoyId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedConfigFile" serializeAs="String">
                <value>Configs/Nimbus.mficonfiguration</value>
            </setting>
            <setting name="SelectedHidDevice2" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedJoyId2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedConfigFile2" serializeAs="String">
                <value>Configs/Nimbus.mficonfiguration</value>
            </setting>
            <setting name="CheckedLTRT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedBack" serializeAs="String">
                <value>False</value>
            </setting>
        </MFIGamepadFeeder.Properties.Settings>
    </userSettings>
</configuration>
